<header>
  <nav class='navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-nav-panel-header border-bottom box-shadow mb-3'>
    <div class="container">
      <img src="../../assets/images/solidate-logo-header.png" class="navbar-brand img-fluid" style="width: 200px;">
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngClass]='{"show": isExpanded}'>
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
            <a class="nav-link text-white"
              [routerLink]="['/base',{ outlets: { 'solidateRouting': ['user-management'] } }]">User Management</a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]'>
            <a class="nav-link text-white"
              [routerLink]="['/base',{ outlets: { 'solidateRouting': ['document-review'] } }]">Document Review</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" [routerLink]='["/"]'>Log Out</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>