/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';



.user-container{
    width: 100%;
    padding: 5%;    
}

.user-container > * {
    width: 100%;
    }

snack-bar-container.success{
background-color: #5cb85c;
color: #fff;
}

snack-bar-container.warn{
    background-color: rgb(231, 31, 31);
    color: #fff;
    }

snack-bar-container.notification simple-snack-bar{
font-size: 18px !important;
font-weight: bold;
}


.errorMessage{
    color: red;
    margin-top: 15px;
    text-align: left;
}

.submit-button-style{
  background-color: royalblue;
  color: whitesmoke;
}

.confirm-dialog-container .content-container{
    padding: 16px;
    text-align: center;
}

.confirm-dialog-container #yes-button{
    height: 50px;
    width: 50px;
    color: white;
    background-color: #5cb85c;
    font-weight: bold;
    margin: 5px;
    margin-left: 30%;
}

.confirm-dialog-container #no-button{
    height: 50px;
    width: 50px;
    color: white;
    font-weight: bold;
    }

.confirm-dialog-container span.content-span{
    padding: 35px 16px;
    text-align: center;
    font-size: 20px;
}

/* Login Styles */
.bg-solidate {
    background-color: #1d2030;
  }
  .mh-365{
    height: 365px;
  }
  .authfy-panel-left {
    background-color: #253668;
    color: #ffffff;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-box-shadow: 0px 3px 6px #1d2030;
    box-shadow: 0px 3px 6px #1d2030;
  }
    .authfy-panel-left .brand-col {
      display: table;
      width: 100%;
      padding: 25px;
    }
    .authfy-login, .authfy-panel-left .brand-col {
      height: 365px;
    }
      .authfy-panel-left .brand-col .headline {
        display: table-cell;
      }
      .authfy-panel-left .brand-col .headline p {
        text-align: justify;
        font-size: 10px;
      }
  .brand-logo {
    margin-top: 0px;
    margin-bottom: 15px;
  }


  /* NAV BAR STYLES */
  li.nav-item.link-active {
    border-bottom: 2px solid #dac997;
}

li.nav-item {
    padding-left: 10px;
    padding-right: 10px;
}

.bg-nav-panel-header {
  background-color: #253668;
}

/* DATA TABLE COMPONENT STYLE*/
.mat-table tbody tr:hover{
  background-color:#efefef;
  }

  .mat-dialog-container {
    background-color: transparent;
    box-shadow: none;
}

.pdf-viewer-dialog-styles >  mat-dialog-container {
  overflow: hidden;
 }

 .dialog-scroll-styles {
  background-color: white;
  overflow-y: auto;
  height: 450px;
}

#close-icon-style{
  margin-left: 95%;
  margin-top: 10px;
  margin-bottom: 5px;
}

/*Mat-Form Styles*/
mat-card-header{
  font-weight: bold;
  background-color: #253668;
  color: #ffffff;
  padding-top: 10px;
}

.matCardStyles{
  box-shadow: none;
}

mat-card-title{
  margin-left: 12px;
}

.mat-card-actions {
  margin-left: 5px;
  margin-right: 5px;
}

.mat-form-field-underline {
  display: none !important;
  }

  /*Editable Data Table Styles*/
  #editableDataTable{
    height: 40px;
  }

  #editableDataTable .mat-form-field-infix {
    border-top: none !important;
}

#editableDataTable .mat-error{
  padding-left: 24px;
  font-size: 10px;
}

#editableDataTable .mat-form-field-wrapper{
  height: 60px;
  padding-bottom:0 !important;
}

#editableDataTable input{
  font-family: sans-serif;
  font-size: 14px;
  padding-left: 24px;
  text-overflow: ellipsis;
  margin-top: 10px;
}

#editableDataTable tbody tr:hover{
  background-color:#efefef;
}

